.bo {
    background-color: blanchedalmond;
    font-family: Arial, sans-serif;
}

.title {
    text-align: center;
    margin-top: 20px;
}

.nav {
    text-align: center;
    margin: 20px 0;
}

.li_style {
    color: black;
    text-decoration: none;
    font-size: 1.2rem;
    margin: 0 20px;
}

.li_style:hover {
    text-decoration: underline;
}

.about {
    margin: 0 50px;
    font-size: 1.1rem;
    line-height: 1.6;
}

.heading {
    margin-left: 50px;
}

.projects {
    margin-left: 50px;
    font-size: 1.1rem;
}

.footer {
    text-align: center;
    margin: 40px 0;
}

.footer a {
    margin: 0 20px;
}
